<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true">

        <receiver
                android:name=".ControllerReceiver"
                android:exported="true" />

        <meta-data
                android:name="me_description"
                android:value="@string/text_description" />

        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="@string/text_description_xposed" />
        <meta-data
                android:name="xposedminversion"
                android:value="93" />
        <meta-data
                android:name="xposedsharedprefs"
                android:value="true" />
    </application>
</manifest>