<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission"/>

    <application
            android:name=".MeApplication"
            android:allowBackup="true"
            android:allowNativeHeapPointerTagging="false"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:localeConfig="@xml/locales_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MotionEmulator"
            tools:targetApi="33">
        <activity
                android:name=".ui.UpdaterActivity"
                android:exported="false"
                android:label="@string/title_activity_updater"
                android:theme="@style/Theme.MotionEmulator"/>

        <receiver
                android:name=".provider.EmulationMonitorReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.zhufucdev.motion_emulator.ACTION_DETERMINE"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".ui.MapPendingActivity"
                android:exported="false"
                android:label="@string/title_activity_map_pending"
                android:theme="@style/Theme.MotionEmulator"/>
        <activity
                android:name=".ui.SettingsActivity"
                android:exported="false"
                android:label="@string/title_activity_settings"
                android:theme="@style/Theme.MotionEmulator.Preference"/>
        <activity
                android:name=".ui.AppStrategyActivity"
                android:exported="false"
                android:label="@string/title_app_strategy"/>
        <activity
                android:name=".ui.EmulateActivity"
                android:exported="false"
                android:label="@string/title_emulate"
                android:launchMode="singleTop"/>
        <activity
                android:name=".ui.TraceDrawingActivity"
                android:exported="false"
                android:label="@string/title_draw_trace"/>
        <activity
                android:name=".ui.RecordActivity"
                android:exported="false"
                android:label="@string/title_activity_record"/>
        <activity
                android:name=".ui.ManagerActivity"
                android:exported="false"
                android:label="@string/title_manage"/>
        <activity
                android:name=".ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.zhufucdev.motion_emulator.file_provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/shared_paths"/>
        </provider>

        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposeddescription"
                android:value="Motion simulator with sensor support."/>
        <meta-data
                android:name="xposedminversion"
                android:value="93"/>
        <meta-data
                android:name="xposedsharedprefs"
                android:value="true"/>
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="${AMAP_SDK_KEY}"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${GCP_MAPS_KEY}"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
    </application>

</manifest>