<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission" />

    <permission
            android:name="com.zhufucdev.motion_emulator.PERMISSION.READ"
            android:protectionLevel="normal"
            android:label="@string/title_permission_read"
            android:description="@string/text_permission_read" />

    <application
            android:name=".MeApplication"
            android:allowBackup="true"
            android:allowNativeHeapPointerTagging="false"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:localeConfig="@xml/locales_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MotionEmulator"
            tools:targetApi="33">
        <activity
                android:name=".ui.UpdaterActivity"
                android:exported="false"
                android:label="@string/title_activity_updater"
                android:theme="@style/Theme.MotionEmulator" />

        <receiver
                android:name=".provider.EmulationMonitorReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.zhufucdev.motion_emulator.ACTION_DETERMINE" />
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.zhufucdev.motion_emulator.plugin.InstallationReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".ui.PluginActivity"
                android:exported="false"
                android:label="@string/title_activity_plugin" />
        <activity
                android:name=".ui.MapPendingActivity"
                android:exported="false"
                android:label="@string/title_activity_map_pending" />
        <activity
                android:name=".ui.SettingsActivity"
                android:exported="false"
                android:label="@string/title_activity_settings"
                android:theme="@style/Theme.MotionEmulator.Preference" />
        <activity
                android:name=".ui.EmulateActivity"
                android:exported="false"
                android:label="@string/title_emulate"
                android:theme="@style/Theme.MotionEmulator"
                android:launchMode="singleTop" />
        <activity
                android:name=".ui.TraceDrawingActivity"
                android:exported="false"
                android:theme="@style/Theme.MotionEmulator"
                android:label="@string/title_draw_trace" />
        <activity
                android:name=".ui.RecordActivity"
                android:exported="false"
                android:theme="@style/Theme.MotionEmulator"
                android:label="@string/title_activity_record" />
        <activity
                android:name=".ui.ManagerActivity"
                android:exported="false"
                android:label="@string/title_manage" />
        <activity
                android:name=".ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.zhufucdev.motion_emulator.file_provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/shared_paths" />
        </provider>
        <provider
                android:authorities="com.zhufucdev.motion_emulator.update_provider"
                android:name="com.zhufucdev.update.UpdateProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/update_file_paths" />
        </provider>
        <provider
                android:name=".provider.SettingsProvider"
                android:authorities="com.zhufucdev.motion_emulator.settings_provider"
                android:exported="true"
                android:enabled="true"
                android:readPermission="com.zhufucdev.motion_emulator.PERMISSION.READ" />

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="${AMAP_SDK_KEY}" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${GCP_MAPS_KEY}" />
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
    </application>

</manifest>